<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
<!-- Название у нас будет products -->
{% block title %}
Products
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости. Общее количество {{news|length}}</h1>

<hr>
{% if news %}
<table>
    <tr>
        <td> Название</td>
        <td> Дата публикации</td>
        <td> Текст</td>
    </tr>

    {% for news in news %}
    <tr>
        <td>{{ news.title_news|censorship }}</td>
        <td>{{ news.time_in|date:'M d Y' }}</td>
        <td>{{ news.text_news|censorship}}</td>

    </tr>
    {% endfor %}

</table>
{% else %}
<h2>Статей нет!</h2>
{% endif %}
{% endblock content %}